
body {
    background-color: #ffffff;
    margin: 0;
}
#error-page {
    background: url("../images/lemoncurd_02.jpg") no-repeat scroll 480px 0 rgba(0, 0, 0, 0);
    margin: 5% auto;
    width: 985px;
}
h1 {
    color: #000;
    font-family: 'Droid Serif', serif;
    font-size: 21px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: normal;
    margin: 0;
    padding: 0;
}
#error-details {
    margin: 20px 0 40px;
    width: 400px;
}
#error-details p {
    color: #000;
    font-family: 'Droid Serif', serif;
    font-size: 14px;
    line-height: 21px;
}
#links li {
    display: block;
    float: left;
    height: 20px;
    list-style: outside none none;
    margin: 0 20px 25px 0;
}
#links {
    clear: both;
    margin: 0;
    padding: 0;
}
#links li a {
    color: #000;
}
.section-separator {
    border-bottom: 2px solid #000;
    border-top: 2px solid #000;
    clear: both;
    height: 4px;
}
#footer p {
    color: #7d7d7d;
    font-family: 'Droid Sans', sans-serif;
    font-size: 11px;
    line-height: 14px;
}
#footer a.external {
    color: #666666;
    font-size: 11px;
    text-decoration: none;
    text-transform: uppercase;
}
#footer a.blue {
    color: #3a89ac;
    text-decoration: none;
}
#search {
    height: 30px;
    margin: 0 0 35px;
    width: 450px;
}
#search input {
    float: left;
    margin: 0;
}
#search-text {
    background: url("../images/search_box.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: #afafaf;
    font: 12px/32px 'Droid Sans', sans-serif;
    height: 32px;
    padding-left: 10px;
    width: 205px;
}
#dish-displayed a:link, #dish-displayed a:visited {
    color: #7d7d7d;
    text-decoration: none;
}
#dish-displayed a:hover {
    color: #7d7d7d;
    text-decoration: underline;
}
